*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 992px;
    margin: auto;
    text-align: center;
}

footer p{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #0a2ff1;
}

footer div{
    margin-top: 25px;
}

footer div img{
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
}