*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 82.67px;
    color: #04146c;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 21.33px;
    color: #04146c;
}

.btn{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18.67px;
    background-color: #04146c;
    width: 150px;
    margin-right: 20px;
    border-radius: 0;
}

img{
    width: 80%;
}

@media(max-width: 768px){
    .col-md-4{
        width: 100%;
    }

    img{
        width: 100%;
    }

    .col-md-8{
        width: 100%;
        text-align: center;  
    }

    p{
        text-align: start;
    }

    .btn{
        margin-top: 10px;
    }
}