*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    border: 1px #cad2fd solid;
}

header h1{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #04146c;

    margin-top: 20px;
    margin-bottom: 20px;
}

main form input{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18.67px;
    color: #414166;

    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
}

main form button{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #0a2ff1;
    color: white;

    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px #04146c solid;
}

main form button:hover{
    cursor: pointer;
}

main hr{
    border: 1px #8f8f8f solid;

    width: 500px;
    margin-left: 50px;
    margin-bottom: 20px;
}

footer{
    margin-bottom: 20px;
}

footer a{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 18.67px;
    color: #0a2ff1;
    
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

