*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    margin-top: 30px;
}

.form-label{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #04146c;
}

.form-text{
    font-family: 'Mulish', sans-serif;
    font-size: 17.33px;
    color: #04146c;
}

.form-control{
    border-color: #8a9af1;
}

.form-check{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #04146c;
}

.btn{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
    background-color: #5974ff;
    width: 150px;
    height: 50px;
}