*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 740px;
}

header{
    margin-bottom: 50px;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 78.67px;
    color: #0a2ff1;
}

header h1 span{
    background-color: #3ffff3;
}

main{
    margin-bottom: 30px
}

main p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30.67px;
    color: #0a2ff1;
}

footer img{
    width: 375px;
}

footer{
    width: 375px;
    background-image: url("../assets/fondo.JPG");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: bottom;
}
