*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url("../assets/M4-desafio1-fondo.png");
    text-align: center;
}

main div{
    background-image: url("../assets/M4-desafio1-fondo-form.png");
    width: 50%;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
    min-width: 700px ;
}

main div form{
    background-color: white;

    width: 600px;
    height: 400px;
    margin: auto;
}

main div form h1{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 32.64px;
    color: #04146c;

    padding-top: 50px;
    margin-bottom: 30px;
}

main div form input{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 22.67px;
    color: #414166;

    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
}

main div form button{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 22.67px;
    color: white;
    background-color:  #15163d;

    width: 500px;
    height: 50px;
}

main div form button:hover{
    cursor: pointer;
}