*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header .img_header{
    background-image: url("../assets/M4\ -\ Desafío3_img-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1065px;
}

main{
    width: 80%;
    margin: auto;
    padding: 10px;
}

article header h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 58.67px;
    color: #0a2ff1;
    margin-right: 10px;
}

article p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25.33px;
    color: black;
}

article h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25.33px;
    color: #0a2ff1;
}

article div{
    background-image: url("../assets/M4-Desafio3-lettering.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    width: 80%;
}

main .post_article{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
}

main button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: white;
    background-color: #0a2ff1;
}   

footer hr{
    background-color: #15163d;
    height: 10px;
}