*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    text-align: center;
    width: 1100px;
    margin: auto;
    border: 1px #cdd4ff solid;
}

header{
    background-color: #04146c;
}

header p{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 38.67px;
    color: white;
}

main{
    width: 601px;
    margin: auto;
}

main h1{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 900;
    font-size: 88px;  
    color: #04146c;  
    margin-top: 30px;
    margin-bottom: 30px;
}

main p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26.67px;  
    color: #04146c;
    margin-bottom: 30px;
}

main img{
    width: 600px;
    border: 1px black solid;
}

footer{
    background-color: #edf7ff;
}

footer p{
    width: 600px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #04146c;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
