*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
  body::-webkit-scrollbar-track {
    background: white;    
}
  
  body::-webkit-scrollbar-thumb {
    background-color: #C1C1BF;    
    border-radius: 20px;       
    border: 3px  white solid;  
}

header img{
    width: 100%;
    background-size: contain;
    margin-bottom: 20px;
}

main{
    width: 80%;
    padding: 10px;
    margin: auto;
}

h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 58.67px;
    color: #0a2ff1;
    margin-right: 10px;
    margin-bottom: 80px;
}

.contenido{
    width: 80%;
    margin: auto;
}


p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25.33px;
    color: black;
    margin-bottom: 40px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25.33px;
    color: #0a2ff1;
    margin-bottom: 5px;
}

.contenido div img{
    width: 100%;
    margin-bottom: 50px;
}

main .post_img{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    margin-bottom: 0;
    margin-bottom: 20px;
}

main button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: white;
    background-color: #0a2ff1;

    width: 300px;
    height: 50px;
    margin-bottom: 40px;
}   

main button:hover{
    cursor: pointer;
}

footer{
    background-color: #15163d;
    height: 20px;
}