*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1200px;
    margin: auto;
    text-align: center;
}

header p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 67px;
    color: white;
    background-color: black;
}

main .div_1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 197px;
}

main .div_2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 217px;
    color: white;
    background-color: black;
}

main .div_3{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 58px;
    color: white;
    background-color: black;
}