* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 5.7rem;
    color: #0a2ff1;

    margin: 40px 0px 40px 10px;
}

h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

p {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.card {
    border-radius: 15px;
    width: 20%;
}


@media(max-width: 992px) {
    .card {
        margin-top: 10px;
        width: 45%;
    }

    h1 {
        margin: 10px 0 10px 35px;
    }

    h2 {
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        color: white;
    }
}

@media(max-width: 768px) {
    .card {
        width: 90%;
        margin-top: 15px;
    }

    h1 {
        width: 300px;
        margin-left: 80px;
    }

    h2 {
        font-size: 2rem;
    }
}