*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1{
    font-size: 3.3rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    color: #3957f1;

    margin-top: 30px;
    margin-bottom: 10px;
}

h2{
    font-size: 1.3rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #15163d;
}

.card{
    border: 0;
    border-radius: 0;
    margin-left: 30px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px gray;
}

.card-img-top{
    border-radius: 0%;
}

@media(max-width: 992px){
    .card{
        margin-top: 20px;
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media(max-width: 768px){
    h1{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card{
        margin-top: 10px;
        margin-bottom: 15px;
    }
}