*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #edf7ff;
    width: 1100px;
}

header{
    padding-bottom: 10px;
    background-color: #4b69ff;
}

main{
    margin-left: 138px;
    width: 900px;
}

main h1{
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    font-size: 117px;
    height: 150px;
    color: #0a2ff1;
    margin-top: 100px;
}

main h2{
    font-family: 'Asap', sans-serif;    
    font-weight: 400;
    font-size: 52px;
    color: #0a2ff1;
    margin-bottom: 80px;
}

main p{
    font-family: 'Asap', sans-serif;
    font-size: 33px; 
    color: #04146c;
}

main .p2{
    margin-top: 50px;
    margin-bottom: 80px;
}

.conoce{
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    font-size: 48px;
    color: #0a2ff1;
    margin-bottom: 30px;
}

main ul{
    padding-left: 50px;
    margin-bottom: 80px;
}

main ul li{
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 33px;
    color: #04146c;
    margin-bottom: 20px;
}

footer{
    font-family: 'MuseoModerno', cursive;
    font-weight: bold;
    font-size: 198px;
    color: #8a9af1;
    margin-left: 10px;
}

